* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: arial, sans-serif;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header span {
	padding: 9px;
	margin-top: 10px;
	font-size: 13px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.87)
}

.material img {
	width: 14px;
	margin-right: 20px;
}

button {
	font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	cursor: pointer;
	align-items: center;
	border-color: #1a73e8;
	border-radius: 3px;
	background-color: #1a73e8;
	margin-right: 15px;
	margin-top: 7px;
	width: 86px;
	padding: 8px;
}

.middle {
	text-align: center;
	margin-top: 12px;
}

.searchBar {
	display: flex;
	justify-content: center
}

.headerMiddle {
	display: flex;
	width: 42%;
	align-items: center;
	padding: 3px;
	margin-top: 23px;
	border: solid 1px #e0e1e4;
	border-radius: 20px;
}

.headerMiddle input {
	border: none;
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}

.headerMiddle img {
	margin-left: 14px;
}

.middleButton {
	display: flex;
	justify-content: center;
}

.middleButton button {
	background-color: whitesmoke;
	color: rgb(32, 33, 36);
	border: none;
	font-weight: 400;
	margin-top: 31px;
	margin-bottom: 31px;
	width: 150px;
	font-size: 14px;
}

a {
	margin-left: 11px;
	text-decoration: none;
}

.footer {
	font-size: 13px;
	text-align: center;
}

.india {
	background-color: whitesmoke;
	padding: 14px;
	margin-top: 226px;
	font-size: 15px;
	color: rgb(112, 117, 122);
}

.bottom {
	display: flex;
	background-color: whitesmoke;
	padding: 14px;
	background-color: whitesmoke;
	font-size: 15px;
	color: rgb(112, 117, 122);
	border-top: solid 1px #e0e1e4;

}

.about span {
	margin-left: 10px;
	cursor: pointer;
}

.privacy {
	flex: 1;
	text-align: end;
}

.privacy span {
	margin-right: 10px;
	cursor: pointer;
}

/*hover*/
.header .material:hover {
	border-radius: 20px;
	background-color: #dad9d9;
}

.sign :hover {
	background-color: #1566d1;
}

.middleButton button:hover {
	border: 1px solid #dadce0;
}

a:hover {
	text-decoration: underline;
}

.header span:hover {
	text-decoration: underline;
}

.bottom span:hover {
	text-decoration: underline;
}